<IfModule mod_rewrite.c>
  RewriteEngine On
  # テスト環境がドメイン直下なら / です。
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
